* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#nav {
    background-color: #222;
    display: flex;
    justify-content: center;
}

#nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
}

.single-column-layout {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
}

.intro {
    display: flex;
    align-items: center;
    gap: 48px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.image-container,
.content-container {
    flex: 1;
}

.image-container {
    height: 400px;
}

.content-container h1 {
    font-size: 48px;
    color: #ffb700;
}

.featured {
    background-color: #222;
    color: white;
    padding: 24px 0px;
}
.featured h2 {
    font-size: 36px;
    text-align: center;
}

.grid img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 24px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "txt1 img1 img2 img2"
        "img3 img3 img4 txt2"
    ;
    gap: 16px;
}

#p1 {
    grid-area: txt1;
}
#p2 {
    grid-area: txt2;
}
#img1 {
    grid-area: img1;
}
#img2 {
    grid-area: img2;
}
#img3 {
    grid-area: img3;
}
#img4 {
    grid-area: img4;
}

.grid p {
    border: 0.5px solid #ffb700;
    border-radius: 24px;
    margin: 0px;
    padding: 20px;
}

/* Tablet Breakpoint */
@media screen and (max-width: 768px) and (min-width: 481px) {
    .content-container h1 {
        font-size: 32px;
    }
    .intro {
        gap: 24px;
    }
    .image-container {
        height: 300px;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "txt1 img1"
            "img2 img2"
            "img3 img3"
            "img4 txt2"
        ;
    }
}

/* Mobile Breakpoint */
@media screen and (max-width: 480px) {
    #nav {
        flex-direction: column;
        align-items: center;
    }

    .intro {
        flex-direction: column;
        gap: 24px;
    }

    .content-container h1 {
        margin: 0px;
        font-size: 32px;
    }
    .content-container {
        text-align: center;
    }
    
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "txt1"
            "img1"
            "img2"
            "img3"
            "img4"
            "txt2"
        ;
    }
    .grid p {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}