.absolute-header {
    font-size: 36px;
}
.absolute-paragraph {
    font-size: 18px;
}

.relative-heading {
    font-size: 5vw;
}
.relative-paragraph {
    font-size: 2.5vw;
}

.absolute-image {
    width: 350px;
}

.relative-image {
    width: 100%;
}

.outer-container {
    border: 3px solid red;
    width: 66%;
}

.inner-container {
    border: 3px solid blue;
    width: 50%;
}

.inner-container p,
.inner-container img {
    display: inline-block;
    width: 48%;
}