* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    width: 50%;
    min-width: 500px;
    max-width: 800px;
    margin: 0px auto;
}

.light-container {
    background-color: lightgreen;
    padding: 48px 0px;
}

.dark-container {
    padding: 48px 0px;
    background-color: #1a2702;
    color: white;
}