@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,700&family=Protest+Riot&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1, h2, h3 {
    font-family: 'Protest Riot', sans-serif;
}
a {
    text-decoration: none;
    color: #00cdd0;
    transition: all 0.5s;
}
a:hover {
    color: #cf00cf;
}

ul {
    list-style-type: none;
}

main, footer .container {
    width: 90dvw;
    max-width: 1200px;
    margin: 0px auto;
}

main {
    display: grid;
    grid-template-columns: 250px 700px;
    gap: 50px;
    margin-top: 25px;
}

aside {
    position: sticky;
    top: 25px;
    height: max-content;
    opacity: 0.5;
    transition: all 0.5s;
}
aside:hover {
    opacity: 1;
}

aside h2 {
    background-color: #00cdd0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 10px;
}
aside h2 img {
    width: 40px;
}

aside ul {
    border: 0.5px solid #00cdd0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

aside li {
    border-bottom: 0.5px solid #00cdd0;
    padding-bottom: 10px;
}

aside a:hover {
    letter-spacing: 1px;
}

.topic {
    font-variant: small-caps;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    margin: 0px 0px 10px;
}

.byline {
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 10px 0px 25px;
}

p {
    margin: 15px 0px;
    font-weight: 300;
    font-size: 1.25rem;
}

.img-flex {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.img-flex div, .img-flex blockquote, .img-flex p {
    flex: 1;
}

.quote {
    font-size: 1.5rem;
}
blockquote {
    padding: 30px 10px;
}
blockquote #lq, blockquote #rq {
    color: #cf00cf;
}
blockquote .byquote {
    display: block;
    text-align: center;
    color: #111a;
    font-family: 'Protest Riot', sans-serif;
    padding-top: 10px;
}

footer {
    margin-top: 100px;
    width: 100dvw;
    border-top: 0.5px solid #00cdd0;
    padding: 25px 0px;
}
footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
footer .container .img-contain {
    width: 400px;
}
footer .socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    column-gap: 40px;
    row-gap: 15px;
}
footer a {
    display: inline-block;
    width: calc(50% - 40px);
}

.copyright {
    text-align: center;
}